/* hello-devcards CSS */

.turtle {
    fill: green;
}

.position {
    fill: yellow;
    stroke: blue;
}
svg.board {
  margin: 32px;
}
button.command {
    margin: 1px;
    padding-top:    4px;
    padding-bottom: 4px;
    padding-left:   4px;
    padding-right:  4px;
}
rect.white {
    fill: grey;
    stroke: black;
}
rect.black {
    fill: black;
    stroke: black;
}
